APP_NAME=skeleton
APP_ENV=dev

# 0: 前端运行; 1: 后台运行
HYPERF_DAEMONIZE=0

# 热重启启动脚本路径，默认在 bin/restart.php
RESTART_CONSOLE_SCRIPT=
# 热重启等待进程退出超时时间，单位 秒，可选值 3-60，默认 60秒
RESTART_CONSOLE_TIMEOUT=60
# 热重启失败发送警报的钉钉机器人 access token
RESTART_CONSOLE_DD_TOKEN=

# 热重启失败发送警报的钉钉机器人 api secret，安全设置 中使用 '加签' 模式的话，此配置不能为空
RESTART_CONSOLE_DD_SECRET=
# 热重启失败发送警报的钉钉机器人 消息，可使用的占位符见 config/autoload/server.php 说明，可为空
RESTART_CONSOLE_DD_MESSAGE=

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# presto 集群配置，注意，这里以集群划分，不以库划分
# 当前配置为
# 001-005库 为 集群1，006-010库 为 集群2，011-016库 为 集群3
# 正式环境需要配置3个集群，测试环境只需要配置集群1即可
PRESTO_SERVER_001=127.0.0.1:8080
PRESTO_USER_001=user
PRESTO_CATALOG_001=system
PRESTO_SCHEMA_001=runtime
PRESTO_RETRIES_001=3

PRESTO_SCHEMA_ODS=ods_test
PRESTO_SCHEMA_DWS=dws_test
PRESTO_SCHEMA_DIM=dim_test

# 是否开启 apollo
APOLLO_ENABLE=true
# apollo 服务器地址
APOLLO_SERVER=http://127.0.0.1:8080
# apollo appid
APOLLO_APPID=abcdefghijklmn
# 要拉取的 apollo 配置 namespaces，多个使用 英文逗号 , 分隔
APOLLO_NAMESPACES="application,presto.json,database.json"

# athena配置信息
ATHENA_ACCESS_KEY=
ATHENA_SECRET_KEY=
ATHENA_REGION=cn-northwest-1
ATHENA_VERSION=latest
ATHENA_ENCRYPTION_OPTION=SSE_S3
ATHENA_OUTPUT_LOCATION=s3://captain-athena-query-result/Athena-Presto/Athena-ark
