APP_NAME=skeleton
APP_ENV=dev

# 0: 前端运行; 1: 后台运行
HYPERF_DAEMONIZE=0

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# presto 集群配置，注意，这里以集群划分，不以库划分
# 当前配置为
# 001-005库 为 集群1，006-010库 为 集群2，011-016库 为 集群3
# 正式环境需要配置3个集群，测试环境只需要配置集群1即可
PRESTO_SERVER_001=127.0.0.1:8080
PRESTO_USER_001=user
PRESTO_CATALOG_001=system
PRESTO_SCHEMA_001=runtime
PRESTO_RETRIES_001=3

PRESTO_SCHEMA_ODS=ods_test
PRESTO_SCHEMA_DWS=dws_test
PRESTO_SCHEMA_DIM=dim_test